<!DOCTYPE html>
<html>
<head>
    <title>Projects</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="menu">
        <a href="{{ url_for('welcome') }}">Home</a>
        <a href="{{ url_for('get_projects') }}">Projects</a>
    </div>
    <h1>Projects</h1>
    <table>
        <tr id="table-headings">
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
            <th>PDF</th>
        </tr>
        {% for project in projects %}
        <tr id="table-elements">
            <td><a href="{{ url_for('get_project', project_id=project.id) }}">{{ project.name }}</a></td>
            <td>{{ project.description }}</td>
            <td>{{ project.status }}</td>
            <td><a href="{{ url_for('get_project_pdf', project_id=project.id) }}">Download PDF</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>